@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize.css';

body{
    background-color: #4A4A4A;
    line-height: 1;
    width: 100vw;

}

/* ----------------------- PLAY ONE  ----------------------- */

.divIntro{
    color: #CEDFBD;
}